<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingRandomAccessFile name="LogToRollingRandomAccessFile"
                                 fileName="./src/test/resources/logs/application-${date:yyyy-MM-ddHHmmss}.log"
                                 filePattern="./src/test/resources/logs/backup/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="base.BaseTest" level="TRACE" additivity="false">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="LogToRollingRandomAccessFile"/>
        </Root>
    </Loggers>
</Configuration>